.gallery {
    text-align: center;
    padding: 6rem 2rem 4rem 2rem;
    background-color: var(--scheme-background-color);
    color: var(--scheme-text-color);

    p {
        margin: 1rem auto;
    }

    &__images {
        margin-top: 3rem;

        img {
            margin: 1rem;
            width: 20%;
        }
    }
}

@media (max-width: 768px) {
    .gallery {
        padding: 4rem 1rem;

        &__images {
            img {
                width: 40%;
            }
        }
    }
}

@media (max-width: 500px) {
    .gallery {
        &__images {
            img {
                margin: 0.5rem;
            }
        }
    }
}