.strength-points {
    background-color: var(--scheme-background-color);
    color: var(--scheme-text-color);

    text-align: center;
    padding: 6rem 2rem 2rem 2rem;

    &__intro {
        width: 60%;
        margin: 0 auto;

        h2 {
            margin: 1rem 0;
        }

        p {
            margin-bottom: 3rem;
        }
    }

    &__cards {
        display: flex;
        margin-bottom: 4rem;
    }
}

@media (max-width: 750px) {
    .strength-points__cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .strength-points__intro {
        width: 80%;
    }
}