.info-section {
    display: flex;
    align-items: center;
    padding: 6rem 4rem 4rem 4rem;
    background-color: var(--scheme-background-color);
    color: var(--scheme-text-color);

    img {
        border-radius: 0;
    }

    .left {
        flex: 0.6;
        margin-right: 3rem;

        p {
            margin: 1rem 0;
            width: 90%;
        }

        .features {
            display: flex;

            .feature {
                margin-top: 2rem;
                margin-right: 3rem;

                img {
                    width: 1.7rem;
                }

                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
            }
        }
    }

    .right {
        flex: 0.4;

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;

        .left {
            flex: 1;
            margin-right: 0;
            text-align: center;

            p {
                width: 100%;
            }

            .features {
                margin-top: 2rem;

                .feature {
                    margin: 0 1.5rem;
                    width: 50%;

                    img {
                        width: 2rem;
                    }

                    h3 {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .right {
            flex: 1;
            margin-top: 2rem;

            img {
                width: 100%;
                height: auto;
                max-height: 30rem;
            }
        }
    }
}