.info-section {
    display: flex;
    align-items: center;
    padding: 6rem 2rem 4rem 2rem;
    background-color: var(--scheme-background-color);
    color: var(--scheme-text-color);

    img {
        border-radius: 0;
    }

    .left {
        flex: 0.6;
        margin-right: 3rem;

        p {
            margin: 1rem 0;
        }

        .features {
            display: flex;

            .feature {
                margin-top: 2rem;
                margin-right: 3rem;

                img {
                    width: 1.7rem;
                }

                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
            }
        }
    }

    .right {
        flex: 0.4;

        img {
            width: 100%;
            height: auto;
        }
    }
}